* {
    box-sizing: border-box;
  }

/* Color branding starts */
:root {
    --lightblue: skyblue;
    --blueblack: steelblue;
    --darkblue: #04171f;
}
/* Color branding ends */

/* CSS Style RESET starts */
/* Source:    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--blueblack);
    background-color: rgb(178, 212, 243);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS Style RESET ends */ 

/* Header style starts */ 
header {
   background-color:  var(--darkblue);
   padding: 1rem 3rem 1rem 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   /* Positon code Source:https://www.w3schools.com/css/css_positioning.asp */
   position: -webkit-sticky; 
   position: sticky;
   top: 0;
}

header h1 {
    background-color: var(--lightblue);
    border-radius: 10px;
    padding: 5px 1% 5px 6%;
    font-size: 4vw;
}
header a {
    color: var(--darkblue);
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--lightblue);
    padding: 5px 10px;
    background-image: linear-gradient(270deg, var(--lightblue) 0%, var(--lightblue) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    /*transition: all 0.2s ease-in;*/
    font-size: 1.25rem;
    margin-right: 10px;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--blueblack);
    border-radius: 10px;
}

/* Header style ends */

/* Hero style starts */ 
.hero {
    background: rgb(49, 78, 85);
    background-image: url("../images/02-hero-bg.jpg"), linear-gradient(180deg, var(--lightblue) 0%, var(--blueblack) 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero div {
    flex: 0 0 90%;
}
  
.hero h2 {
    background-color: var(--lightblue);
    border-radius: 10px;
    color: var(--darkblue);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
}
/* Hero style ends */ 

/* Main style starts */ 
main {
    max-width: 82%;
    margin-left: auto;
    margin-right: auto;
}

.mainitem {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.mainitem > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--blueblack);
    font-size: 4vw;
    line-height: 1.1;  
}

.mainitem > div {
    flex: 0 0 77%;
}

.mainitem p {
    margin-bottom: 20px;
}
/* Main style ends */ 

/* About me style starts */ 
#bio-image {
    float:left;
    margin-right: 20px;
}
/* About me style ends */ 

/* Work style starts */ 
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: mimmax(150px, 1fr);
}

.grid-item {
    border: 5px solid var(--lightblue);
    border-radius: 10px;
    grid-column: span 4;
    background-color: var(--blueblack);
    color: var(--darkblue);
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0.9rem;
  }

.image1 {
    background-image: url("../images/02-portfolio-4.jpg");
}
.image2 {
    background-image: url("../images/02-portfolio-1.jpg");
}
.image3 {
    background-image: url("../images/02-portfolio-2.jpg");
}
.image4 {
    background-image: url("../images/02-portfolio-3.jpg");
}
.image5 {
    background-image: url("../images/02-run-buddy.jpg");
} 

.grid-item:first-child {
    grid-column: span 8;
    grid-row: span 2;
}

.grid-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.grid-item div {
    background-color: var(--lightblue);
    padding: 8px 10px;
    border-radius: 10px;
}

.grid-item h3 {
    font-size: 1.6rem;
}
/* Work style ends */ 

/* Contact me style starts */ 
.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    color: var(--darkblue);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    background-image: linear-gradient(270deg, var(--blueblack) 0%, var(--blueblack) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    /*transition: all 0.25s ease-in;*/
    margin: 0 0.2rem 0.1rem;
}

.contact address a:hover {
    background-size: 100% 100%;
    color: var(--lightblue);
    border-radius: 10px;
}
/* Contact me style ends */ 


/* Responsive layout style starts */
@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        font-size: 10vw;
        margin-bottom: 10px;
    }

    header nav {
        justify-content: center;
      }

    .mainitem > h2,
    .mainitem > div {
        flex: 0 0 100%;
  }
    .mainitem > h2 {
        border-right: none;
        border-bottom: 4px solid var(--blueblack);
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .grid-item,
    .grid-item:first-child {
        grid-column: 1 / -1;
  }

  .grid-container {
    grid-auto-rows: minmax(200px, 1fr);
  }

  .hero{
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 420px) {
    
    .hero  {
         align-items: center;
         min-height: 10vh;
        }
    
    .hero h2 {
        background-color: none;
        font-size: 1rem;
    }
              
}

/* Responsive layout style ends */

/* footer style starts */
footer {
    background: var(--darkblue);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

/* footer style ends */